xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/WebApplication1/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.threeequals.co.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.threeequals.co.uk/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.threeequals.co.uk/" schemaLocation="http://localhost:8080/WebApplication1/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="join">
<part name="parameters" element="tns:join"/>
</message>
<message name="joinResponse">
<part name="parameters" element="tns:joinResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="sendMessage">
<part name="parameters" element="tns:sendMessage"/>
</message>
<message name="sendMessageResponse">
<part name="parameters" element="tns:sendMessageResponse"/>
</message>
<portType name="NewWebService">
<operation name="join">
<input wsam:Action="http://webservice.threeequals.co.uk/NewWebService/joinRequest" message="tns:join"/>
<output wsam:Action="http://webservice.threeequals.co.uk/NewWebService/joinResponse" message="tns:joinResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservice.threeequals.co.uk/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice.threeequals.co.uk/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="sendMessage">
<input wsam:Action="http://webservice.threeequals.co.uk/NewWebService/sendMessageRequest" message="tns:sendMessage"/>
<output wsam:Action="http://webservice.threeequals.co.uk/NewWebService/sendMessageResponse" message="tns:sendMessageResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="join">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/WebApplication1/NewWebService"/>
</port>
</service>
</definitions>